/* This snippet relies on the DataAtributes plugin (DataAttributes.plugin.js) that can be found in this same folder. */

.profileColors-3Y0XaR {
    --profile-gradient-primary-color: var(--background-secondary-alt) !important;
    --profile-gradient-secondary-color: var(--background-secondary-alt) !important;
    --profile-gradient-overlay-color: transparent !important;
    --profile-gradient-button-color: var(--button-secondary-background) !important;
    --profile-avatar-border-color: var(--background-secondary-alt) !important;
    --profile-message-input-border-color: var(--background-modifier-accent) !important;
    --profile-body-background-color: var(--background-floating) !important;
    --profile-body-background-hover: var(--background-modifier-hover) !important;
    --profile-body-divider-color: var(--background-modifier-accent) !important;
    --profile-role-pill-background-color: var(--background-secondary-alt) !important;
    --profile-role-pill-border-color: var(--interactive-normal) !important;
}
/*Usrbg*/
.id-495862154323558401:not(#messages, #username){--u:url(https://ik.imagekit.io/vcbg/kafka.avif);width: auto; height: auto;}
.overlayBackground-1KgwVi, .userProfileOuterUnthemed-2b2rsv, .userProfileInner-3F03PX::before, .userProfileInnerThemedNonPremium-1gT-zY, .userProfileInnerThemedWithBanner-2624Yx, .userProfileInnerThemedPremiumWithoutBanner-1yMS1H{background: none} /*Upcoming changes for Profile Skins*/
#userpopout{transform:translateZ(0);}
#usermodal{transform:translateZ(0);}
.accountProfilePopoutWrapper-3GskID #userpopout {transform: unset;}
#userpopout{
background: var(--background-floating) !important;
}
.accountProfilePopoutWrapper-3GskID #userpopout::before{content:unset;}
.accountProfilePopoutWrapper-3GskID #userpopout {transform: unset;}
/*User Popout (Full Popout and not just the banner.*/
#userpopout::before, #usermodal::before{content:'';position:fixed;top:0;left:0;width:100%;height:100%;z-index:-1;pointer-events:none;opacity:.5;background:var(--u) center/100% 100% no-repeat !important}


/*Lets the user BG Show on user popout and profile. */
#app-mount .body-2wLx-E, 
#app-mount .footer-3naVBw, 
.headerNormal-3Zn_yu{
background-color: transparent !important;
}
.avatar-3QF_VA, .avatar-2Vndt_ {
background: transparent;
border-color: transparent;
}

/*end usrbg*/